html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*5.Inherit properties
.contact {
    @extend header;
}*/
/*6.Calulations
.contact {
    width: 100% - 20%;
}
*/
.faded {
  background-color: white;
  max-width: 100%;
  padding: 1.5rem 9%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.faded a {
  color: #161616;
  transition: all 0.3s ease;
}
.faded a:hover {
  color: #64a19d !important;
}

header {
  background-color: transparent;
  padding: 1.5rem 3rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}
header a {
  color: gray;
  text-decoration: none;
}
header #mainbtn1 {
  color: #64a19d !important;
  text-decoration: none;
  border: 3px solid #64a19d !important;
  border-radius: 0.5rem;
}
header .home a {
  transition: all 0.3s ease;
}
header .home a:hover {
  color: rgb(64, 64, 64);
}
header .links {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
header .links a {
  transition: all 0.3s ease;
}
header .links a:hover {
  color: rgb(64, 64, 64);
}
header .links-open {
  display: flex !important;
  row-gap: 1rem !important;
  flex-flow: column;
  background-color: white;
  position: absolute;
  z-index: 99;
  top: 75px;
  left: 0;
  width: 100%;
  align-items: flex-start;
  padding-left: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 7.5px 10px rgba(0, 0, 0, 0.2);
}
header .links-open #mainbtn1 {
  border: unset !important;
  padding: unset !important;
}
header .menu {
  display: none;
}

#about-me {
  padding: 5rem 0;
  margin-top: 5rem;
  text-align: center;
  background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#about-me a {
  color: #64a19d;
  text-decoration: none;
}
#about-me p {
  margin-bottom: 5rem;
}

#work-section {
  padding: 5rem 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#work-section .work {
  padding: 5rem;
  color: white;
  background-color: #161616;
}
#work-section .work .info {
  padding: 0 20px 40px 20px;
}
#work-section .work .info a {
  color: #64a19d;
  text-decoration: none;
}
#work-section .work .info h2 {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #64a19d;
}
#work-section .work .col-lg-2 .circular-logo {
  border-radius: 100px;
  height: 67px;
  background-color: #fff;
  padding: 3px;
  margin-bottom: 20px;
}
#work-section .work .col-lg-10 ul {
  padding: 0;
}

#project-section {
  padding: 5rem 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#project-section .work {
  color: black;
  padding: 0 20px 40px 20px;
}
#project-section .work h2 {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #64a19d;
}
#project-section .projects {
  background-color: #161616;
}
#project-section .projects #text-column {
  padding: 5rem;
  text-align: end;
}
#project-section .projects #text-column a {
  color: #64a19d;
  text-decoration: none;
}
#project-section .projects #text-column a {
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  border-bottom: 0.25rem solid #64a19d;
}
#project-section .projects #image-column img {
  width: 100%;
}

#contact-me {
  background-color: #161616;
  padding: 5rem 0 0 0;
  text-align: center;
  color: white;
}
#contact-me .card {
  border-bottom: 0.25rem solid #64a19d;
}
#contact-me .card a {
  color: #64a19d;
  text-decoration: none;
}
#contact-me .card i {
  color: #64a19d;
}
#contact-me .card span {
  color: black;
  border-bottom: 0.25rem solid #64a19d;
}
#contact-me .card .iconbig {
  font-size: 2rem !important;
}

@media (min-width: 991px) {
  header .links-open {
    display: flex !important;
    align-items: center !important;
    flex-flow: row;
    background-color: transparent;
    position: static;
    padding-bottom: unset;
    box-shadow: unset;
  }
  header .links-open #mainbtn1 {
    color: #64a19d !important;
    text-decoration: none;
    border: 3px solid #64a19d !important;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem !important;
  }
}
@media (max-width: 991px) {
  header {
    background-color: white;
    padding: 0.5rem 1rem !important;
    height: 75px;
    max-width: 100% !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
  header .links {
    display: none;
  }
  header .menu {
    display: block;
  }
  header .menu #mainbtn2 {
    font-size: 13px;
    color: #64a19d !important;
    padding: 0.5rem !important;
    border: 1px solid #64a19d !important;
    border-radius: 0.25rem !important;
  }
  #about-me {
    margin-top: 2.5rem;
  }
  #about h6 {
    font-size: 2rem !important;
  }
  #about .skills {
    width: 100% !important;
  }
  #about .skills h5 {
    font-size: 1rem !important;
  }
  #work-section {
    padding: 2.5rem 0;
    text-align: center;
  }
  #work-section .work {
    padding: 2.5rem;
  }
  #work-section .work h2 {
    padding: unset !important;
    border-left: unset !important;
  }
  #contact-me .row {
    row-gap: 1rem;
  }
}
@media (max-width: 360px) {
  .intro {
    padding: 0 0.25rem;
  }
  .intro h6 {
    line-height: 1 !important;
  }
  .intro h5 {
    line-height: 1.25 !important;
  }
  #about-me {
    margin-top: 1rem;
  }
  #work-section {
    padding: 1rem 0;
  }
  #work-section .work {
    padding: 1.5rem;
  }
}
@media (max-width: 280px) {
  #project-section #text-column {
    padding: 1.25rem !important;
  }
  #project-section #text-column a {
    padding: 0 0.5rem 0.5rem 0.5rem !important;
  }
  #project-section #text-column h3,
  #project-section #text-column h5 {
    font-size: 1rem !important;
  }
}
#background {
  width: 100%;
  height: 100%;
  background-image: url("./Images/bgfinal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
#background #gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
}
#background .for-gap {
  padding-top: 5rem;
}
#background #about .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(255, 251, 251);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  margin: auto;
  top: 5rem;
}
#background #about .profile-picture img {
  width: 100%;
}
#background #about .intro {
  position: relative;
  top: 7.5rem;
  text-align: center;
}
#background #about .intro h6 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.5rem;
  color: white;
}
#background #about .intro .skills {
  width: 45rem;
  margin: auto;
}
#background #about .intro .skills h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5019607843);
}
#background #about .intro a {
  color: white;
  background-color: #64a19d;
  border: none;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #161616;
  padding: 0 0 6rem 0;
}/*# sourceMappingURL=style.css.map */
